<footer class="site-footer container" role="contentinfo">
  <div class="container clear-fix">
    <a href="#top" class="pull-right">Back to Top</a>
  </div>
  <p>&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}</p>
  <p>I &hearts; the open web.</p>
  <ul class="social  nav">
    <li>
      <a href="http://www.twitter.com/bassettsj" title="Steven Bassett on Twitter">Twitter</a>
    </li>
    <li>
      <a href="http://www.github.com/bassettsj" tittle="Steven Bassett on Github">Github</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/steven-bassett/27/829/468" title="Steven Bassett on LinkedIn">LinkedIn</a>
    </li>
  </ul>
</footer>
