<footer class="site-footer" role="content-info">
  <p>&copy; {{ site.author.name }} 2014</p>
  <p>San Francisco based front-end web developer and designer. Specializing in Drupal.</p>
  <ul class="social  nav">
    <li>
      <a href="http://www.twitter.com/bassettsj" title="Steven Bassett on Twitter">Twitter</a>
    </li>
    <li>
      <a href="http://www.github.com/bassettsj" tittle="Steven Bassett on Github">Github</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/steven-bassett/27/829/468" title="Steven Bassett on LinkedIn">LinkedIn</a>
    </li>
  </ul>
</footer>
