*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clear-fix,
%row,
.clear-fix,
.row {
  @extend %scut-clearfix;
}

%col,
.col {
  float: left;
  padding-right: 20px;
  &:last-of-type {
    padding-right: 0;
  }
}

@mixin span($width, $total: 12) {
  width: percentage($width/$total);
}


@for $i from 1 through 12 {
  .col-#{$i} {
    @include span($i);
  }
}

.content,
.site-header,
.site-footer{
  @include span(12, 12);
}

.show-grid {
  .col {
    border: 1px solid pink;
  }
}

.container{
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.5em;
  @media (min-width: 50em){
    padding: 0 0;
  }
}

.project-tile {
  @include span(6, 12);
}
