*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
.container{
  @include container($total-columns, $break);
  //@include susy-grid-background();
  header,
  footer{
    clear: both;
  }
  .site-header,
  header nav{
    @include span-columns(12,12);
  }
  .content{
    @include span-columns(12,12);
  }
  .posts-main{
    @include breakpoint(medium) {
      @include span-columns(8,12);
    }
  }
  aside{
    @include breakpoint(medium) {
      @include span-columns(4 omega,12);
    }
  }
}
