@mixin header-font($font-family: $header-font-family, $font-weight: $header-font-weight){
  font-family: $font-family;
  font-weight: $font-weight;
}


@mixin button(){
   display: inline-block;
      padding: 0.5em 1em;
      font-size: $font-size-4;
      font-family: $sans-serif-font;
      color: $caribic-teal;
      border: 0.125em solid $caribic-teal;
      border-radius: 500em;
      &:hover,
      &:focus{
        color: lighten($caribic-teal, 10%);
        border-color: lighten($caribic-teal, 10%);
        text-decoration: none;
      }
}
