body{
  background-color: $body-bg;
  .container{

  }
}

a{
  @include single-transition();
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus{
    color: $link-hover-color;
    text-decoration: underline;
  }
}




blockquote{
  margin: 0 auto;
  padding-left: 2em;
  border-left: 0.5em solid $blockquote-border-color;
  font-style: italic;
}


.posts{
  article{
    @include span-columns(9,9);
    margin-bottom: 3em;
    border-bottom: 0.0625em solid $lightest-gray;
  }
  header{
    &:first-child{
      h2{
        margin-top: 0;
      }
    }
    a{
      color: $text-color;
      font-style: italic;
    }
  }
  footer{
    @include span-columns(9,9);
    font-family: $sans-serif-font;
    div{
      @include breakpoint(medium) {
        @include span-columns(3,9);
          &:last-child{
            @include omega;
          }

        }
    }

  }
}


.tag-box{
  padding: 0 0 0 0;
  li{
    display: inline;
    a{
      padding: $base-padding;
    }
  }
}
