body{
  background-color: $body-bg;
  .container{

  }
}

a{
  @include single-transition();
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus{
    color: $link-hover-color;
    text-decoration: underline;
  }
}


