body{
  background-color: $body-bg;
  .container{

  }
}

a{
  @include single-transition();
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus{
    color: $link-hover-color;
    text-decoration: underline;
  }
}




blockquote{
  margin: 0 auto;
  padding-left: 2em;
  border-left: 0.5em solid $blockquote-border-color;
  font-style: italic;
}


.posts{
  article{
    margin-bottom: 3em;
  }
  header{
    &:first-child{
      h2{
        margin-top: 0;
      }
    }
    a{
      color: $text-color;
    }
  }
}
