// ==========================================================================
// VARIABLES

// - Breakpoints
//    - Desktop
//    - Tablet
// - Type Scale
// - Colors
// ==========================================================================



// Grid Variables
//   ==========================================================================

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$break: 12;


// Breakpoints
//   ==========================================================================

$large-min-width: 60em;

$medium-min-width: 50em;


// Type Scale - I always need a type-scale
//   ==========================================================================
$base-font-size: 18px;

$font-size-1: 4em;
$font-size-2: 3em;
$font-size-3: 2em;
$font-size-4: 1.25em; // The new black
$font-size-5: 1em;
$font-size-6: 0.75em; // Should only be used for text you want no one to read.



$sans-serif-font: 'Lato', sans-serif;
$serif-font: 'Vollkorn', serif;


// Color Pallet to use.
//   ==========================================================================

$text-color: rgba(42,42,42, 1.0);

$lightTeal: rgba(162, 215, 228, 1.0);


// Pallet from DESIGNJUNKEE
// @link http://www.colourlovers.com/palette/1473/Ocean_Five

$caribic-teal: rgba(0, 160, 176, 1.0);

$caribic-brown: rgba(106, 74, 60, 1.0);

$caribic-red: rgba(204, 51, 63, 1.0);

$caribic-sun: rgba(235, 104, 65, 1.0);

$caribic-daylight: rgba(237, 201, 81, 1.0);


$blue-chalk: rgb(170,186,216);
$nice-teal: rgb(192, 211, 210);
$body-bg: $nice-teal; //$blue-chalk;  //$caribic-brown;
$container-bg: rgba(255, 255, 255, 0.95);

// Links
$link-color: $caribic-sun;
$link-hover-color: lighten( $link-color, 10%);


// Component Sizing
$base-padding: 0.3em 0.2em;


// Navs
$nav-link-color: $text-color;
$nav-link-hover-color: $caribic-sun;



// Site Header
$site-header-border-color: $text-color;
$default-transition-duration: 300ms;


