<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <section>
    	<ul class="posts">
    	{% for post in site.posts limit: 10 %}
    	  <div class="post_info">
    	    <li>
    	            <a href="{{ post.url }}">{{ post.title }}</a>
    	            <span>({{ post.date | date:"%Y-%m-%d" }})</span>
    	            <div>
    	            	{% for post in site.posts %}
    	            	    {% if post.excerpt %}
    	            	        {{ post.excerpt | markdownify }}
    	            	    {% else %}
    	            	        {{ post.content }}
    	            	    {% endif %}
    	            	{% endfor %}
    	            </div>
    	    </li>
    	    
    	    </div>
    	  {% endfor %}
    	</ul>
    </section>
  </div>
  <div class="span4">
  	<h4>Archive</h4>
  	{% assign posts_collate = site.posts %}
	{% include JB/posts_collate %}
  </div>

</div>

<div class="entry">
  {% if excerpt and post.excerpt %}
    {{ post.excerpt }}
    <p> <a href="{{ post.url }}/#more" class="more-link"><span class="readmore">Read the rest of this entry »</span></a></p>
  {% else %}
    {{ post.content | mark_excerpt }}
  {% endif %}
</div>