<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <section>
    	<ul class="posts">
    	{% for post in site.posts limit: 10 %}
    	  <article>
          <header>
            <h2>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
          </header>
          <div>
            {{ post.excerpt | truncatewords: 100 }}
          </div>
          <footer>
            <div class="time">
              <h5>Published</h5>
              <time>{{ post.date | date_to_long_string }}</time>
            </div>
            <div class="tags">
              {% unless post.tags == empty %}
                <h5>Tags</h5>
                <ul class="tag_box inline">
                  {% assign tags_list = post.tags %}
                  {% include JB/tags_list %}
                </ul>
              {% endunless %}
            </div>
            {% unless post.categories == empty %}
              <div class="categories">
                <h5>Categories</h5>
                <ul class="tag_box inline">
                  {% assign categories_list = post.categories %}
                  {% include JB/categories_list %}
                </ul>
            </div>
            {% endunless %}
          </footer>
        </article>
    	  {% endfor %}

    </section>
    <div>
      <hr>
      <a href="{{site.baseurl}}archive.html" class="btn btn-block btn-large">View More Posts in the Archive</a>
    </div>
  </div>
  {% include components/profile.html %}





</div>

