<aside class="span4">
  <img src="{{site.baseurl}}assets/img/about/profile.png" alt="Portrait of Steven" class="img-circle pull-right">
  <h3>About Steven</h3>
  <p class="lead">
    Boston based front-end web developer and designer. Specializing in Drupal.
  </p>
  <p>
  <p>
  <h4>Contact me on:</h4>
  <ul class="social  nav">
    <li>
      <a href="http://www.twitter.com/bassettsj" title="Steven Bassett on Twitter">Twitter</a>
    </li>
    <li>
      <a href="http://www.github.com/bassettsj" tittle="Steven Bassett on Github">Github</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/steven-bassett/27/829/468" title="Steven Bassett on LinkedIn">LinkedIn</a>
    </li>
  </ul>
</aside>


