<!DOCTYPE html>
<html lang="en">
  {% include _head.html%}
  <body>
    <a name="top"></a>
    <a href="#main-content" class="sr-only-focusable">Skip to main content</a>
    <div class="container">
      <header class="site-header" role="banner">
        <nav>
          <a href="/" class="site-title">
            <b>S</b><span>teven Bassett</span>
          </a>
          {% include primary-nav.html %}
        </nav>
      </header>
      <main class="content" role="main" id="main-content">
        {{ content }}
      </div>
      {% include _footer.html %}

    </div><!-- /container -->
    {% include _js.html %}
  </body>
</html>
