---
layout: default
---
<article role="main">
    {% if content %}
      {{ content }}
    {% endif %}
    <section class="posts">
      <header class="page-title home">
        <h1>Recent Posts</h1>
      </header>
        {% for post in site.posts limit: 10 %}
          <article class="site-post">
            {% if post.coverimage %}
            <figure class="site-post-cover-img">
              <a href="{{ post.url }}">
                <img src="{{ post.coverimage.src }}" class="" alt="{{  post.coverimage.alt }}">
              </a>
            </figure>
            {% endif %}
            <header>
              <h2 class="h3">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h2>
            </header>
            <div>
              {{ post.excerpt | truncatewords: 200 }}
            </div>
            <footer>
              <div class="time">
                <h4 class="h5">Published</h4>
                <time>{{ post.date | date_to_long_string }}</time>
              </div>
              <div class="tags">
                {% unless post.tags == empty %}
                  <h4 class="h5">Tags</h4>
                  <ul class="tag-box inline">
                    {% assign tags_list = post.tags %}
                    {% include JB/tags_list %}
                  </ul>
                {% endunless %}
              </div>
              {% unless post.categories == empty %}
                <div class="categories">
                  <h4 class="h5">Categories</h4>
                  <ul class="tag-box inline">
                    {% assign categories_list = post.categories %}
                    {% include JB/categories_list %}
                  </ul>
              </div>
              {% endunless %}
            </footer>
          </article>
          {% endfor %}

      </section>
      <footer class="posts-footer">
        <a href="{{site.baseurl}}archive">View More Posts in the Archive</a>
      </footer>
</article>
