---
layout: default
---
<article class="post">
<header class="page-title">
    <h1>{{ page.title }}</h1>
      {% if page.tagline %}
      <p class="intro"> {{ page.tagline }} </p>
      {% endif %}

  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <footer>
    <div>
      <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr;</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">&rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>&rarr;</a>
      {% endif %}
      </ul>
    </div>
      {% include JB/comments %}
  </footer>

  <aside>
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag-box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}
  </aside>
</article>
